 <% if user_signed_in? %>
 
 <p><%= flash[:notice] %></p>
         <% if @book.errors.any? %>
            <h3><%= @book.errors.count %> error prohibited this book from being saved:</h3>
             <div id="error_explanation" class="alert alert-danger">
            <ul>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
           </ul>
          </div>
        <% end %>
    <div class="container">  
      <div class="row">   
        <div class="col-md-3"> 
        <h1>Users Info</h1>
            <%= attachment_image_tag @user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg" %>
            <%= @user.name %>
            <%= @user.introduction %>
            <%= link_to edit_user_path(@user), method: :get do %>
            <i class="fas fa-user-cog edit_user_20621"></i>
            <% end %>
       <h1>New book</h1>
            <div class="book-form">
                <%= form_with model: @book, local:true, class:"book-form" do |f| %>
                    <label>title</label>
                    <%= f.text_field :title %>
                    <label>opinion</label>
                    <%= f.text_area :body %>
                    <%= f.submit "Create Book" %>
                <% end %>
            </div>
        </div>
        <div class="col-md-8 offset-md-1"> 
        <h1>Books</h1>
        <table class="table">
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
        <% @books.each do |f| %>
            <tr>
                <td><%= link_to user_path(f.user.id), method: :get do %>
                  <%= attachment_image_tag f.user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg" %>
                  <% end %></td>
                <td><%= link_to f.title, book_path(f.id) %></td>
                <td><%= f.body %></td>
            </tr>
        <% end %>
        </table>
        </div>
        </div>  
    </div>
    
<% end %>

















